.bar{
    background-color: white;
}

.logoStyle {
    font-family: 'Ruluko', sans-serif;
    color: #19851E;
    font-weight: 400;
}
.pending{
    color: #000;
    font-family: 'Poppins', sans-serif;
    text-decoration:none;
    font-weight: bold;
    margin-left: 20;
}
.active{
    color:#0E6112;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: bold; 
    margin-left: 20; 
}
.darkmode{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-decoration:none;
    font-weight: bold;
    margin-left: 20;
}